html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

#container {
    display: flex;
    flex-direction: column;
}

#mainHeader {
    display: flex;
    width: 100%;
    background: lightgrey;
    justify-content: center;
    margin: auto;
    height: 150px;
}



#albumArea {
    display: flex;
    width: 100%;
    height: 100%;
    background: white;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.indieAlbum {
    height: 16rem;
    width: 15rem;
    margin: 50px;
}

.indieAlbum img {
    height: 16rem;
    border-radius: 55px;

    width: 15rem;
}

.albumWrapper {
    display: flex;

}

.albumTitle {
    display: flex;
    position: relative;
    height: 3rem;
    width: 100%;
    border: 1px solid black;
    border-radius: 15px;

    align-items: center;
    align-self: flex-end;
    background: yellow;
}

.title {
    width: 100%;
    text-align: center;

}